.App {
  font-family: monospace, serif;
  font-size: 0.9rem;
  color: #eeeeee;
  background: #111;
  padding: 0 0 64px 0;
  margin: 0 auto;
  max-width: 1000px;
}

.App a {
  color: #9ab8ff;
}

.App a:visited {
  color: #b89aff;
}

#bio {
  margin-top: 32px;
  margin-bottom: 48px;
}

#bio p {
  color: #999;
  line-height: 1.4rem;
}

#bio span {
  color: #fff;
}

.section {
  margin: 32px 24px 0 24px;
}

#moreButton {
  cursor: pointer;
  padding: 12px 0 32px 0;
}

.link-item {
  line-height: 1.5rem;
  margin-bottom: 8px;
}

.details {
  color: #777777;
  margin: 0 16px;
}

.highlight {
  color: #ff6666;
  margin: 0 16px;
}

#SocialCTA {
  display: flex;
  background: #1e1e1e;
  padding: 36px 24px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.previewImg {
  display: block;
  background: #000;
  width: 224px;
  height: 224px;
  margin-right: 16px;
  border: 1px solid #eee;
  background-image: url('./assets/social-preview.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.previewDetails {
}

.previewTitle {
  margin: 0;
}

.previewCaption {
  margin: 12px 0;
  font-size: 0.9rem;
}

.previewCategory {
  color: #999;
  font-size: 0.9rem;
}

.previewCategoryList li {
  line-height: 1.1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 800px) {
  #SocialCTA {
    flex-direction: row;
    justify-content: flex-start;
  }

  .previewImg {
    width: 156px;
    height: 156px;
  }
}

@media (max-width: 600px) {
  .App {
    font-size: 0.9rem;
    padding: 0;
  }

  #SocialCTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16px;
  }

  .previewImg {
    width: min(280px, 80vw);
    height: min(280px, 80vw);
    margin-right: 0;
    margin-bottom: 20px;
  }

  .previewDetails {
    text-align: center;
  }

  .previewCaption,
  .previewCategory {
    font-size: 0.8rem;
  }

  .section {
    margin: 18px 24px 0 24px;
  }

  .link-item {
    line-height: 1.2rem;
  }
}
